ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float:right;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
}

li a {
  color: #000;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size:14px;
}
li a:hover {
  text-decoration: underline;
}
.logo{
  margin-top:100px;
  margin-bottom:20px;
  text-align: center;
}
.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
  text-indent:20px;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  border-radius:100px;
}
.buttons{
  margin-top:30px;
}
.button{
  background-color: #f5f5f5;
  border:none;
  color:#707070;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
}
.button:hover{
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color:#808080;
}
.button:focus{
  border:1px solid #4885ed;
  padding: 9px 19px;
}
.searchbox1{
  margin-top: 185px;
  margin-left:21px;
  height: 22px;
  border:1px solid #dcdcdc;
  width: 582px;
  outline:none;
  }

.searchbox2{
  margin-top: 10px;
  margin-left:200px;
  height: 22px;
  border:1px solid #dcdcdc;
  width: 585px;
  outline:none;
  }
.logo1
    {
      position:absolute;
      top: 15px;
      left: 25px;
      margin-bottom:20px;
      z-index: 1;
     }
.left{
   float: left;
   text-indent:0px;
   font-size: 20px;
   color:#ff4040;
   font-family: "Avenir Next", Calibri, Verdana, sans-serif;
   margin-top:80px;
   margin-left:50px
}
.right0
{
  float: right;
  text-indent: 50px;
  position: fixed;
  right: 0;
  width: 600px;
  font-size:15px;
  margin-top:150px;
  margin-bottom: 30px;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
 }
.left0
{
  float: left;
  position: fixed;
  text-indent: 20px;
  font-size: 16px;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  margin-top:150px;
  padding: 0px;
}
.left1
{
  float: left;
  position: fixed;
  text-indent: 0px;
  font-size: 14px;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  margin-top:165px;
  padding: 20px;
  }
.right1
{
  float: right;
  text-indent: 45px;
  position: fixed;
  right: 0;
  width: 540px;
  font-size:12px;
  margin-top:140px;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  padding:50px;
 }
 .left2
{
  float: left;
  position:fixed;
  text-indent: 0px;
  font-size: 14px;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  padding: 15px;
  margin-top:0px;
}
.right2
{
  float: right;
  text-indent: 11px;
  position: fixed;
  right: 0;
  width: 540px;
  font-size:12px;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  padding:15px;
  margin-top: 2px
 }
 .right3{
  float: right;
  text-indent: 9px;
  position: fixed;
  right: 0;
  width: 540px;
  font-size:12px;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  padding:9px;
}
.right4{
  float: right;
  text-indent: 30px;
  position: fixed;
  right: 0;
  width: 540px;
  font-size:12px;
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  padding:22px;
 }
.searchbox3{
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 20px;
  height: 22px;
  border:1px solid #dcdcdc;
  width: 586px;
  outline:none;
}
.searchbox1:focus-within{
    border: 1px solid #4885ed;
    outline:none;
}
.searchbox2:focus-within{
    border: 1px solid #4885ed;
    outline:none;
}
.searchbox3:focus-within{
    border: 1px solid #4885ed;
    outline:none;
}
.buttons1{
  margin-top:60px;
}
.button1{
  float: right;
  position:fixed;
  right:400px;
  background-color: #4a8edb;
  border:none;
  color:white;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
}
.button1:hover{
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color:white;
}
.button1:focus{
  border:1px solid #4885ed;
  padding: 9px 19px;
}
.magnify{
  float:right;
  right:50px;
  height:30px;
  position:relative;
  top:10px;
  width:30px;
  vertical-align:middle;
}

